@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.task-container {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}
